.ant-drawer .ant-drawer-body {
  background-color: var(--bg) !important;
  color: var(--text-color);
  .drawerContent {
    display: flex;
    justify-content: space-around;
    .leftSideDrawer {
      width: 40%;
    }
    .addPostForm {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: var(--black);
      background-color: var(--bg);
      border-radius: 20px;
      padding: 0 !important;
      border: 2px solid var(--black);
      label {
        font-size: 30px;
        padding: 20px;
      }
      input {
        background-color: transparent;
        padding: 20px;
        font-size: 20px;
        outline: none;
        border: none;
        border-width: 0;
        box-shadow: none;
        color: var(--black);
        border-bottom: 2px solid var(--black);
      }
      button {
        padding: 14px 60px;
        font-size: 40px;
        text-align: center;
        margin: 30px 0;
        border-radius: 50px;
      }
      select {
        margin: 20px 0;
        background-color: var(--bg);
        padding: 20px;
        font-size: 20px;
        outline: none;
        border: none;
        border-width: 0;
        box-shadow: none;
        color: var(--black);
        border-bottom: 2px solid var(--black);
      }
    }
  }
}
