.adminPanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: var(--black);
  background-color: var(--bg);
  border-radius: 20px;
  padding: 40px 10px;
  min-height: 400px;
  h1 {
    font-size: 20px;
    padding: 10px;
    text-align: center;

    @media screen and (max-width: 678px) {
      font-size: 14px;
      padding: 8px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 30px;
    font-size: 26px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--black);
    color: var(--text-color);
    @media screen and (max-width: 768px) {
      padding: 10px;
      font-size: 18px;
    }
  }
}
.otp-input {
  width: 100px;
  height: 80px;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-right: 11px;
  margin-bottom: 30px;

  input {
    width: 100% !important;
    height: 100%;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--black);
    font-size: 24px;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 768px) {
    width: 53px;
    height: 50px;
    margin-right: 8px;
  }
}
