.ant-modal .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}
.ant-modal .ant-modal-title {
  display: none !important;
}
.ant-modal .ant-modal-header {
  display: none !important;
}
.ant-modal .ant-modal-close-x {
  span {
    svg {
      display: none !important;
    }
  }
}
.feedbackForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--black);
  background-color: var(--bg);
  border-radius: 20px;
  padding: 0 !important;
  padding-top: 10px !important;
  label {
    font-size: 24px;
    padding: 16px;
  }
  input {
    background-color: transparent;
    padding: 16px;
    font-size: 20px;
    outline: none;
    border: none;
    border-width: 0;
    box-shadow: none;
    color: var(--black);
    border-bottom: 2px solid var(--black);
  }
  button {
    padding: 14px 80px;
    font-size: 36px;
    text-align: center;
    margin: 30px 0;
    border-radius: 50px;
  }
  .rate {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: antiquewhite;
    p {
      font-size: 20px;
      padding: 10px;
    }
  }
}

.ant-rate .ant-rate-star-first,
.ant-rate .ant-rate-star-second {
  color: gray;
}
