header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 14px 30px;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--bg);
    color: var(--text-color);
    margin-top: 20px;
    svg {
      path {
        fill: var(--text-color) !important;
      }
    }
    @media screen and (max-width: 688px) {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
}
